@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
	--color-primary: #000000;
	--color-text: #000000;
	--color-text-light: #807f7f;

	--color-background: #f4f4f4;
	--color-surface: #ffffff;

	--color-overlay: rgba(0, 0, 0, 0.3);

	--color-gray-300: #cbcbcb;
	--color-gray-600: #807f7f;
	--color-gray-700: #525252;

	--color-green-300: #9ecebb;
	--color-green-700: #3c7949;
	--color-red-300: #dec5c5;
	--color-red-700: #b13636;
	--color-blue-300: #9ec0ce;
	--color-blue-700: #2b7d9d;

	--font-primary: "Nunito", Tahoma, Geneva, Verdana, sans-serif;
	--font-heading: "Inria Serif", "Segoe UI", Tahoma, Geneva, Verdana,
		sans-serif;

	--font-size-xs: 0.75rem;
	--font-size-sm: 0.8rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.4rem;

	--font-weight-regular: 400;
	--font-weight-semibold: 600;
	--font-weight-bold: 800;

	--max-width-container: 820px;
	--max-width-header: 800px;

	--border-radius-sm: 5px;
	--border-radius-md: 12px;

	--shadow-sm: 0 0 10px rgba(0, 0, 0, 0.1);
	--shadow-md: 0 3px 10px rgba(0, 0, 0, 0.3);
	--shadow-inset-light: inset 0px 0px 10px rgba(255, 255, 255, 0.3);
	--shadow-inset-dark: inset 0px 0px 10px rgba(0, 0, 0, 0.1);

	--transition-base: all 0.3s ease-in;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	background: var(--color-background);
	font-family: var(--font-primary);
}

/* =============== HEADER =============== */
.header {
	width: 96%;
	max-width: var(--max-width-header);
	height: 66px;
	margin: 1rem auto 0;
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr auto;
	align-content: center;
	gap: 10px;
	background: var(--color-surface);
	border-radius: 50px;
	box-shadow: var(--shadow-md);
}

.header-logo {
	width: 20%;
	display: grid;
	grid-template-columns: 40px auto;
	align-items: center;
	gap: 0.4rem;
}

.header-logo-icon {
	width: clamp(30px, 30px + 2vw, 50px);
	height: clamp(30px, 30px + 2vw, 50px);
	padding: 1px;
}

.header-logo-text {
	font-size: clamp(0.8rem, 0.8rem + 3vw, var(--font-size-lg));
	font-family: var(--font-heading);
	font-weight: var(--font-weight-bold);
}

.header-btn {
	padding: 5px 8px;
	border-radius: var(--border-radius-md);
	border: none;
	box-shadow: var(--shadow-inset-light);
	transition: var(--transition-base);
	cursor: pointer;
	text-align: center;
}

.header-btn:hover {
	box-shadow: var(--shadow-inset-dark);
	border-radius: var(--border-radius-sm);
}

/* =============== MODAL =============== */
.modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--color-overlay);
}

.modal {
	width: 80%;
	max-width: 600px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	background: var(--color-surface);
	border-radius: var(--border-radius-md);
}

.modal-title {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-bold);
	font-family: var(--font-heading);
}

.modal-form {
	width: 96%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-group {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-label {
	font-family: var(--font-heading);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-regular);
	margin-bottom: 0.2rem;
	color: var(--color-gray-600);
}

.form-input {
	padding: 1rem;

	border-radius: var(--border-radius-sm);
	border: 1px solid transparent;
	font-family: var(--font-heading);

	box-shadow: var(--shadow-inset-dark);
}

.form-input:focus {
	outline: none;
	border: 1px solid var(--color-gray-600);
}

.form-checkbox-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	text-align: center;
}

.form-checkbox {
	accent-color: var(--color-gray-700);
}

.form-checkbox-label {
	font-family: var(--font-heading);
	font-size: var(--font-size-base);
}

.modal-actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	margin-top: 0.4rem;
}

.btn {
	width: 100%;
	padding: 15px 12px;
	font-family: var(--font-heading);
	font-size: var(--font-size-base);

	border: none;
	border-radius: var(--border-radius-sm);
	cursor: pointer;

	transition: var(--transition-base);
}

.btn-primary {
	background: var(--color-gray-700);
	color: var(--color-gray-300);
}

.btn-primary:hover {
	background: var(--color-gray-600);
	color: var(--color-gray-700);
}

.btn-secondary {
	width: auto;
	background: transparent;
	padding: 5px 12px;

	font-size: var(--font-size-sm);
	color: var(--color-gray-600);

	border-radius: 0;
	border-bottom: 1px solid var(--color-gray-300);
}

.btn-secondary:hover {
	border-radius: var(--border-radius-md);
	background: var(--color-gray-700);
	color: var(--color-gray-600);
}

/* =============== MAIN CONTENT =============== */
.library {
	width: 100%;
	max-width: var(--max-width-container);
	height: fit-content;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.library-stats {
	width: 100%;
	padding: 0.9rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-content: center;
	gap: 0.6rem;
}

.stats-item {
	padding: 1rem 0.4rem;
	border-radius: var(--border-radius-sm);
	background: var(--color-surface);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	box-shadow: var(--shadow-sm);
}

.stats-label {
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-regular);
	text-align: center;
}

.stats-value {
	font-weight: var(--font-weight-bold);
	font-size: clamp(0.8rem, 0.3rem + 2vw, 1.3rem);
}

/* =============== LIBRARY CONTAINER =============== */
.library-container {
	width: 96%;
	padding: 7px;

	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 9px;

	border-radius: var(--border-radius-sm);
	background: var(--color-surface);
	box-shadow: var(--shadow-sm);
}

.library-empty-state {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px dashed var(--color-gray-600);
	border-radius: var(--border-radius-sm);
	background: var(--color-gray-300);
}

.empty-state-text {
	font-family: var(--font-heading);
	font-size: clamp(1rem, 0.8rem + 3vw, 2rem);
	font-weight: var(--font-weight-semibold);
	text-align: center;
	margin-bottom: 0.5rem;
}

.empty-state-image {
	width: 60%;
	height: auto;
	object-fit: cover;
	border-radius: 40%;
}

/* =============== BOOK CARD =============== */
.book-card {
	width: 100%;
	height: 290px;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background: var(--color-gray-300);
	border-radius: var(--border-radius-sm);
	text-align: center;
}

.book-title {
	font-size: var(--font-size-lg);
	font-family: var(--font-heading);
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	margin-bottom: 0.2rem;
}

.book-author {
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-semibold);
	font-family: var(--font-heading);
	margin-bottom: calc(290px - 200px);
	text-transform: capitalize;
}

.book-pages {
	font-family: var(--font-heading);
	font-size: var(--font-size-xs);
}

.book-actions {
	width: 100%;
	margin-top: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 7px;

	text-align: center;
}

.btn-read,
.btn-remove {
	padding: 0.65rem;
	font-family: var(--font-heading);
	font-size: var(--font-size-base);
	border-radius: var(--border-radius-sm);

	cursor: pointer;
	transition: var(--transition-base);
}

.btn-read.read {
	background: var(--color-green-300);
	border: 1px solid var(--color-green-700);
	color: var(--color-green-700);
}

.btn-read:hover,
.btn-remove:hover {
	border-radius: var(--border-radius-md);
}

.btn-read.not-read {
	background: var(--color-blue-300);
	color: var(--color-blue-700);
	border: 1px solid var(--color-blue-700);
}

.btn-remove {
	background: var(--color-red-300);
	border: 1px solid var(--color-red-700);
	color: var(--color-red-700);
}

.btn-remove:hover {
	background: rgba(0, 0, 0, 0.1);
}

/* =============== FOOTER =============== */
.footer {
	width: 100%;
	padding: 0.4rem 1rem;
}

.footer-text {
	text-align: center;
	font-family: var(--font-primary);
	font-size: var(--font-size-sm);
}

.footer-link {
	text-decoration: none;
	color: var(--color-gray-300);
	font-weight: var(--font-weight-bold);
	cursor: pointer;
	transition: var(--transition-base);
}

.footer-link:hover {
	color: var(--color-gray-600);
}
